
  <div class="center">
    <% @notes.each do |note| %>
    <div>
      <div class="note_styling">
        <h5><%= note.comment %></h5>
        <%= image_tag note.image.url %>
        <%= link_to 'Delete', note, method: :delete %>
      </div>
    </div>
    <% end %>
  </div>
</div>

