
  <div class="center">
    <% @notes.each do |note| %>
    <div>
      <div class="note_styling">
        <%= link_to 'Delete', note, method: :delete %>
        <%= image_tag note.image.url %>
        <p><%= note.comment %></p>
      </div>
    </div>
    <% end %>
  </div>


