<nav>
  <div class="row">
    <div class="large-3 columns">
      <%= link_to '/' do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </div>
    <div class="large-9 columns">
      <ul class="button-group right">
        <% if session[:current_user_id] == nil %>
        <li><a href="#" class="nav-button button [tiny small large]" id="about" data-reveal-id="myModalAbout">About</a></li>
        <li><a href="#" class="nav-button button [tiny small large]" id="signUp" data-reveal-id="myModalUp">Sign Up</a></li>
        <li><a href="#" class="nav-button button [tiny small large]" id="signIn" data-reveal-id="myModalIn">Sign In</a></li>
        <% else %>
        <li><a href="#"><%= link_to :SignOut, sessions_path, :method => :delete, class: "nav-button button [tiny small large]" %></a></li>
        <li><a href="#"><%= link_to :Profile, users_path, :method => :get, class: "nav-button button [tiny small large]", id: "viewProfile"%></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <dl class="sub-nav">
    <% if session[:current_user_id] != nil %>
    <div class="large-6 columns">
      <a href="#" class="sub-nav-button button expand" id="leaveANote"><img src="http://i.imgur.com/SjBQb3X.png"></img> Leave a note</a>
    </div>
    <% end %>
    <div class="large-6 columns">
      <a href="#" class="sub-nav-button button expand" data-reveal-id="myModalAll" id="seeAllNotes"><img src="http://i.imgur.com/3bYi7Po.png"></img> See nearby notes!</a>
    </div>
  </dl>
</div>
