<div id="myModalAll" class="reveal-modal" data-reveal>
  <% @note = Note.all %>
  <% @note.each do |note| %>
  <h4> <%= note.comment  %> </h4>
  <% end %>
    <a class="close-reveal-modal">&#215;</a>
</div>