<%= render "sign_up" %>
<%= render "sign_in" %>
<%= render "show_note" %>

<% if flash[:error] %>
    <div class="error">
      <% flash[:error].each do |error| %>
      <p><%= error %></p>
      <% end %>
    </div>
<% end %>
