/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  background-color:#ECF5FD;
}

#map-canvas{
  height: 69%;
  margin: 0 7%;
  padding: 0;
}

.sub-nav {
  margin: 0 0 0 5.6em;
  width: 69.3em;
}

.logo {
  margin: -0.6em 0 0 2em;
  height: 5.1em;
}

#signup {
  color: #d6d1d1;
}

#signin {
  color: #d6d1d1;
}

.top-bar {
  padding: 0.5em 5em 0 0;
  height: 4em;
  background: #202931;
}

a#signUp {
  background-color: #202931;
  color: #ECF5FD;
  font-size: 1.3em;
}

a#signIn {
  background-color: #202931;
  color: #ECF5FD;
  font-size: 1.3em;
}

a#leaveANote {
  background-color: #9ECEF6;
  color: #3F5262;
  width: 48.4%;
  font-size: 1em;
}

a#seeAllNotes {
  background-color: #9ECEF6;
  color: #3F5262;
  width: 50.4%;
  font-size: 1em;
}

.reveal-modal {
  background-color:#ECF5FD;
  color: #ECF5FD;
}

.expand{
  background-color: #9ECEF6;
  color: #3F5262;
}
