/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require slick
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-color:#DCD5C8;
  width: 100%;
}

nav {
  background: #202931;
}

h1{
 color: #ECF5FD;
}

.nav-button {
  background-color: #202931;
  color: #ECF5FD;
}

.sub-nav-button {
  background-color: #9ECEF6;
  color: #3F5262;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

#map-canvas{
  height: 60%;
  padding: 0;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;

}

.reveal-modal {
  background-color:#ECF5FD;
  color: #ECF5FD;
}

.expand {
  background-color: #9ECEF6;
  color: #3F5262;
}


.large-3 img {
  height: 24px;
  margin-top: 4%;
}

ul.button-group.right {
  margin-bottom: -19px;
}

label {
  text-align: center;
  background-color: white;
  width: 30%;
  margin-left: 35%;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

input {
  text-align: center;
}

.sub-nav {
  margin: 0;
  padding: 0;
}

.large-6 {
  padding-left: 2px;
  padding-right: 2px;
}

.carousel {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.note_styling {
  border: 1em solid #ECF5FD;
}
