nav {
  background: #202931;
}

.nav-button {
  background-color: #202931;
  color: #ECF5FD;
}

.sub-nav-button {
  background-color: #9ECEF6;
  color: #3F5262;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

.large-3 img {
  height: 24px;
  margin-top: 4%;
}

ul.button-group.right {
  margin-bottom: -19px;
}

.sub-nav {
  margin: 0;
  padding: 0;
}

.large-6 {
  padding-left: 2px;
  padding-right: 2px;
  width: 50%;
}