.user-info{
  background-color: #3F4062;
  height: 5em;
  width: 100%;
}

.profile-pic{
  float: left;
  margin: 1em;
}

.user-name{
  float:left;
  font-size: 1.5em;
}

.profile-pic img {
  border-radius: 50%;
  height: 3em;
}

h1 {
  font-size: 1em;
  margin: 0.97em 0;
}

p {
  font-size: 0.8em;
  margin: 0;
}

.note_styling {
  height: 12em;
  background-color: white;
}

.slick-slide img {
  height: 6.1em;
  margin: 2.4em 3.3em;
  z-index: -1;
  position: absolute;
}

.carousel {
  text-align: center;
  width: 100%;
  margin: -9em 0;
  background-color: #DCD5C8;
}

.profile-icon {
  float: right;
  margin: 1.5em 9px 0 0;
;
}

.pin-count {
  float: right;
  margin: 0.4em 2.1em 0 0;
}

h2 {
  color: #ECF5FD;
}
