.user-info{
  background-color: #3F4062;
  height: 6em;
  width: 100%;
}

.profile-pic{
  float: left;
  height: 100%;
  margin: 1.4em;
}

.user-name{
  float:left;
  font-size: 1em;
}

.profile-pic img {
  border-radius: 50%;
  height: 3.1em;
}

.profile-map {
  width: 100%;
  top: -3.5em;
  z-index: -1;
}

