.user-info{
  background-color: #3F4062;
  height: 19%;
  width: 100%;
}

.profile-pic{
  float: left;
  height: 100%;
  width: 10%;
  margin: 2.2% 8%;
}

.user-name{
  float:left;
  font-size: 1.5em;
}

.profile-pic img {
  border-radius: 50%;
  height: 62%;
}

.
